* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.RadioPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}



.RadioPage_logo {
  margin-top: 80px;
  width: 400px;
  height: 400px;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.RadioPage_logo.oncesesenta {
  position: absolute;
  bottom: 60px;
  width: 50%;
  left:50%;
  align-items: flex-end;
  transform: translate(-50%, 0);
}

.RadioPage_logo > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.RadioPage_navbar {
  position: fixed;
  top: 0;
  left: 0;
}
.RadioPage_playbar {
  position: fixed;
  bottom: 0;
  left: 0;
}

.RadioPage_logo-action {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
} 

.RadioPage_logo-action:hover > .RadioPage_logo-action-btn {
  display: flex;
} 
.RadioPage_logo-action-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

.RadioPage_logo-action-btn > img {
  margin-left: 10px;
}